/* stylesheet */


body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
}

.lead {
  text-align: center;
  padding: 40px;
}

.container-marketing img{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}

.js{
  padding-top: 50px;
}

.btn1{
  display: flex;
  align-items: center;
  margin: auto;
}

.form {
  width: 50%;
  height: 50%;
  margin: auto;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
